@charset "utf-8";

body{
    margin: 0;
}
header{
    background-color: white;
    box-shadow: 0 2px 2px rgb(121, 121, 121);
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    font-family: "oswald";
}
main{
    background-color: rgb(237, 237, 237);
    height: 1000px;
}
h1{
    margin-top: 0;
    margin-right: 400px;
    margin-left: 40px;
    display: flex;
    height: 100%;
    align-items: center;
}
#menu{
    display: flex;
    list-style: none;
    font-weight:bold ;
    height: 100%;
    margin: 0;
}
#menu li{
    transition:all 0.5s 0s ease;
    width: 150px;
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
}
#menu li:hover{
    color: white;
    background-color: rgb(76, 76, 76);
}